<% include ../partials/navbar %> 
<% include ../partials/footer %>
<!-- <% include ../partials/footer %> -->

<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css" type="text/css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js"></script>
<div class="form-group" style="overflow-y: auto;">
  <p id="objUser"><%= objUser %></p>
  <p id="objname"><%= objname %></p>
  <p id="objUserId"><%= objUserId %></p>
  <p id="contactList"><%= contactList %></p>
  <center><h3 style="text-align: center; margin-top: 20px;">Calendar</h3></center>     

     <div class="row" style="overflow-y: auto;">
           <div class="col-md-6">
              <label for="validationTooltip02">Select Project</label>
                 <select class="custom-select custom-select-sm form-control" id="selproject" name="Selectproject">
                    <option selected value='None'>None</option>
                   <option  value="allproject">All Project</option>
                    <% if(projectList.length != 0) { %>
                    <% projectList.forEach((eachProject) => { %>
                    <option value="<%= eachProject.sfid %>" ><%= eachProject.name %></option>
                    <% }) %>
                   <% } %>
                 </select>
           </div>
  <div class="col-md-6">
    <label for="validationTooltip02">Select View</label>
    <select class="custom-select custom-select-sm form-control" readonly="true" id="Selectview" readonly="true" name="Selectview">
        <option selected value''>None</option>
        <option  value="currentuser">current User View</option>
        <% if(objUser.isManager) { %>
        <option value="teamview">Team View</option>
        <% } %>
    </select>
</div>
</div>

<div >
  <br>
  <h2 style="text-align: center;" id = "calMonth"></h2><h2 style="text-align: center;" id = "calYear"></h2>
    
  </div>

<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12" style="overflow-y: auto;">
         
            <div id="bootstrapModalFullCalendar" style="overflow-y: auto;"></div>
        </div>
    </div>
</div>

<div id="fullCalModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title"></h4>
            </div>
            <div id="modalBody" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" id="eventUrl" target="_blank">Event Page</a>
            </div>
        </div>
    </div>
</div>

<style>
  .fc-day-grid-event .fc-content {
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    color: white;
  }

  .fc-toolbar .fc-center {
    display: none;
}

</style>






<script>
    $(document).ready(function() { 
      $('#objUser').hide();
      $('#objname').hide();
      $('#objUserId').hide();
      $('#contactList').hide(); 
  //    $('#contactList').hide();
      let objUser = document.getElementById('objUser').innerHTML; 
      let objUserName = document.getElementById('objname').innerHTML; 
      let objUserId = document.getElementById('objUserId').innerHTML; 
      let contactList = document.getElementById('contactList').innerHTML;
      console.log('objuser +++'+objUser);
      console.log('objuser name +++'+objUserName);
      console.log('objuser objUserId +++'+objUserId);
      console.log('contactList +++'+contactList);
        var today = new Date();
        var eventsData ;  

         var  months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; 
       // $('calMonth').append('welcome to gohilinfotech.in');
        var monthNumber = today.getMonth();
        document.getElementById('calMonth').innerHTML= months[monthNumber]+' '+today.getFullYear();     

       $.ajax({ 
          type: 'GET',
          url: '/users/getNullevents',
          data : {
              'date': today
          },
          dataType: 'json'
      })
      .done(function( data ) {
        console.log( "Initial data load Sample of data: nkjdfjsdfb", data );
         eventsData = data;
          console.log('JSON.Stringied Data of eventsfdg gdfg : '+JSON.stringify(eventsData));
          $('#bootstrapModalFullCalendar').fullCalendar( 'removeEvents');
          $('#bootstrapModalFullCalendar').fullCalendar( 'addEventSource',data);         
         $('#bootstrapModalFullCalendar').fullCalendar( 'rerenderEvents' );
      })
      .fail(function(jqXHR, textStatus, err){
        console.log('AJAX error response :',textStatus);
    }) 

    
       /*  initial data Load    
        $.ajax({ 
          type: 'GET',
          url: '/users/getevents',
          data : {
              'date': today
          },
          dataType: 'json'
      })
      .done(function( data ) {
         // console.log( "Initial data load Sample of data:", data );
          eventsData = data;
          console.log('JSON.Stringied Data of events : '+JSON.stringify(eventsData));
          $('#bootstrapModalFullCalendar').fullCalendar( 'removeEvents');
          $('#bootstrapModalFullCalendar').fullCalendar( 'addEventSource', eventsData);         
         $('#bootstrapModalFullCalendar').fullCalendar( 'rerenderEvents' );
      })
      .fail(function(jqXHR, textStatus, err){
          console.log('AJAX error response :',textStatus);
      }) 

       */
        /*  initial data Load END   */
        var selectProj;
        var selectedView; 
        $('#selproject').on('change',function(){
           selectProj = this.value;
           console.log('selectProj '+selectProj);
          // $('#Selectview').val('None');
           if(selectProj=='None')
           {
            $('#Selectview').attr("readonly",true);
           }
           else{
            $('#Selectview').attr("readonly",false);

           }
        });
         $('#Selectview').on('change',function(){
          selectedView=this.value;
          console.log('selected' +selectedView);
          let selecteddate = document.getElementById('calMonth').innerHTML;
          console.log('slected months '+selecteddate);


          if(selectProj=='allproject' && selectedView=='currentuser')
          {

        $.ajax({ 
            type: 'GET',
            url: '/users/getevents',
            data : {
                'date': selecteddate
            },
            dataType: 'json'
        })
        .done(function( data ) {
            console.log( "Sample of data:", data );
            eventsData = data;
            console.log('JSON.Stringied Data of events : '+JSON.stringify(eventsData));
            $('#bootstrapModalFullCalendar').fullCalendar( 'removeEvents');
            $('#bootstrapModalFullCalendar').fullCalendar( 'addEventSource', eventsData);         
            $('#bootstrapModalFullCalendar').fullCalendar( 'rerenderEvents' );
        })
        .fail(function(jqXHR, textStatus, err){
            console.log('AJAX error response :',textStatus);
        }) 
      }
      else if(selectProj=='allproject' && selectedView=='teamview')
          {
         //   alert("team view & all project");
            $.ajax({ 
              type: 'GET',
              url: '/users/geteventsTeams',
              data : {
                  'date': selecteddate
              },
              dataType: 'json'
          })
          .done(function( data ) {
              console.log( "Team view Sample of data:", data );
              eventsData = data;
              console.log('JSON.Stringied Data of events Team View : '+JSON.stringify(eventsData));
              $('#bootstrapModalFullCalendar').fullCalendar( 'removeEvents');
              $('#bootstrapModalFullCalendar').fullCalendar( 'addEventSource', eventsData);         
              $('#bootstrapModalFullCalendar').fullCalendar( 'rerenderEvents' );
          })
          .fail(function(jqXHR, textStatus, err){
              console.log('AJAX error response :',textStatus);
          }) 
          }
          else if(selectProj!='allproject' && selectedView=='currentuser'){
            console.log('selected project for current User '+selectProj);
            $.ajax({ 
              type: 'GET',
              url: '/users/geteventsProj',
              data : {
                  'projectid': selectProj,
                  'date': selecteddate
              },
              dataType: 'json'
          })
          .done(function( data ) {
              console.log( "current view on particuar project Sample of data:", data );
              eventsData = data;
              console.log('JSON.Stringied Data of events Team View : '+JSON.stringify(eventsData));
              $('#bootstrapModalFullCalendar').fullCalendar( 'removeEvents');
              $('#bootstrapModalFullCalendar').fullCalendar( 'addEventSource', eventsData);         
              $('#bootstrapModalFullCalendar').fullCalendar( 'rerenderEvents' );
          })
          .fail(function(jqXHR, textStatus, err){
              console.log('AJAX error response :',textStatus);
          })
        }
          else if(selectProj!='allproject' && selectedView=='teamview'){
            console.log('Team View & particula project'+selectProj);
         /*   $.ajax({ 
              type: 'GET',
              url: '/users/getProjectRealted',
              data : {
                  'projectid': selectProj,
                  'date': today
              },
              dataType: 'json'
          })
          .done((data)=>{
            console.log('data  '+JSON.stringify(data));   
          })
          .fail(function(jqXHR, textStatus, err){
            console.log('AJAX error response :',textStatus);
        })
        */

            $.ajax({ 
              type: 'GET',
              url: '/users/geteventsProjteam',
              data : {
                  'projectid': selectProj,
                  'date': selecteddate
              },
              dataType: 'json'
          })
          .done(function( data ) {
              console.log( "Team view on particuar project Sample of data:", data );
              eventsData = data;
              console.log('JSON.Stringied Data of events Team View : '+JSON.stringify(eventsData));
              $('#bootstrapModalFullCalendar').fullCalendar( 'removeEvents');
              $('#bootstrapModalFullCalendar').fullCalendar( 'addEventSource', eventsData);         
              $('#bootstrapModalFullCalendar').fullCalendar( 'rerenderEvents' );
          })
          .fail(function(jqXHR, textStatus, err){
              console.log('AJAX error response :',textStatus);
          })
                  }
          
      });
        /*updating values on next click */
        $('body').on('click', 'button.fc-next-button', function() {
            var b = $('#bootstrapModalFullCalendar').fullCalendar('getDate');
         //    alert(b.format('L'));
            var date = b.format('L');
            console.log('date '+date);
            monthNumber=date.split('/')[0];
            document.getElementById('calMonth').innerHTML= months[monthNumber-1]+' '+date.split('/')[2];
            $('#Selectview').val('None');
            $('#selproject').val('None');
        
            $.ajax({ 
                type: 'GET',
                url: '/users/getNullevents',
                data : {
                    'date': date
                },
                dataType: 'json'
            })
            .done(function( data ) {
                console.log( "Sample of data:", data );
            //  eventsData = data;
                $('#bootstrapModalFullCalendar').fullCalendar( 'removeEvents');
                $('#bootstrapModalFullCalendar').fullCalendar( 'addEventSource', data);         
                $('#bootstrapModalFullCalendar').fullCalendar( 'rerenderEvents' );
            })
            .fail(function(jqXHR, textStatus, err){
                console.log('AJAX error response :',textStatus);
            })     
        });
        /*updating values on prev click */
        $('body').on('click', 'button.fc-prev-button', function() {
            var b = $('#bootstrapModalFullCalendar').fullCalendar('getDate');
           //alert(b.format('L'));
            var date = b.format('L');
            console.log('date '+date);
            monthNumber=date.split('/')[0];
            document.getElementById('calMonth').innerHTML= months[monthNumber-1]+' '+date.split('/')[2];
            $('#Selectview').val('None');
            $('#selproject').val('None');
        
            $.ajax({ 
                type: 'GET',
                url: '/users/getNullevents',
                data : {
                    'date': date
                },
                dataType: 'json'
            })
            .done(function( data ) {
                console.log( "Sample of data:", data );
            //  eventsData = data;
                $('#bootstrapModalFullCalendar').fullCalendar( 'removeEvents');
                $('#bootstrapModalFullCalendar').fullCalendar( 'addEventSource', data,{textColor : 'white'});         
                $('#bootstrapModalFullCalendar').fullCalendar( 'rerenderEvents' );
            })
            .fail(function(jqXHR, textStatus, err){
                console.log('AJAX error response :',textStatus);
            })     
        });
        /*Task Form post method */
        $('#taskForm').submit(function(e){
            e.preventDefault();
            var values = $(this).serialize();
            console.log('values   '+values);
          // if()
          var deadlin = $('#deadline option:selected').val();
          console.log('deadline ++++  '+deadlin); 
          if(deadlin == 'Block Time')
          {
            var startDate = $('#plannedstarttimeTask').val();
            console.log('plandatejhjbkjbjk '+startDate);
            if(startDate == '')
            {
              alert('Error: Please Fill Planned Start Time');
            }
            var endDate = $('#plannedendtimeTask').val();
            console.log('plandatejhjbkjbjk '+endDate);
            if(endDate == '')
            {
              alert('Error: Please Fill Planned End  Time');
            }
            if(endDate != '' && startDate != '')
            {
              var starthours = Number(startDate.match(/^(\d+)/)[1]);
            var startminutes = Number(startDate.match(/:(\d+)/)[1]);
          //  var startAMPM = startDate.match(/\s(.*)$/)[1];
            var endhours = Number(endDate.match(/^(\d+)/)[1]);
            var endminutes = Number(endDate.match(/:(\d+)/)[1]);
           // var endAMPM = endDate.match(/\s(.*)$/)[1];
          //  var AMPM = startDate.match(/\s(.*)$/)[1];
            console.log('starthours '+starthours);
            console.log('startminutes '+startminutes);
       //     console.log('startAMPM '+startAMPM);
            console.log('endhours '+endhours);
            console.log('endminutes '+endminutes);
          //  console.log('endAMPM '+endAMPM);

            if(startDate > endDate)
            {
              alert('Error: Planned Start time should be less than Planned End time. !')
            }
           
            if(starthours > endhours)
            {
              alert('Error: Planned Start time should be less than Planned End time. !')
            }
          
            else if((starthours == endhours) && (startminutes > endminutes))
            {
              alert('Error: Planned Start time should be less than Planned End time. !')
            }
         /*   else if((starthours == endhours) && (startminutes = endminutes))
            {
              alert('Error: Planned Start time should be less than Planned End time. !')
            }*/
            else
            {
              $("#submitbutton").attr("disabled", true);
            $.ajax({
                    url: "/timesheets/createtask",
                    type: "post",
                    data: values ,
                  })
                .done((data)=>{
                    console.log('data '+JSON.stringify(data))
                    let resp = JSON.stringify(data);
                    console.log('dataaaaa' +resp);
                    if(data == 'Task saved Successfully')
                    {
                      document.getElementById("taskForm").reset()
                      let errorHtml = '<div class="alert alert-success alert-dismissible fade show" role="alert">'+ resp+
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
                        '<span aria-hidden="true">&times;</span>'+
                        '</button>'+
                        '</div>';
                        $('#errorMessages').empty();
                        $('#errorMessages').append(errorHtml); 
                        $("#submitbutton").attr("disabled", false);
                      //  $("#createTaskModal").modal("hide");
                        window.location.reload()
                    }
                    else
                    {
                      //document.getElementById("taskForm").reset()
                      let errorHtml = '<div class="alert alert-danger alert-dismissible fade show" role="alert">'+ resp+
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
                        '<span aria-hidden="true">&times;</span>'+
                        '</button>'+
                        '</div>';
                        $('#errorMessages').empty();
                        $('#errorMessages').append(errorHtml); 
                        $("#submitbutton").attr("disabled", false);
                      //  $("#createTaskModal").modal("hide");
                       // window.location.reload()
                    }
                })
                .fail((jqXHR, status, error) =>{
                    console.log('jqXHR  : '+JSON.stringify(jqXHR));
                    console.log('error  : '+error);
                    let errorHtml = '<div class="alert alert-danger alert-dismissible fade show" role="alert">'+ resp+
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
                        '<span aria-hidden="true">&times;</span>'+
                        '</button>'+
                        '</div>';
                        $('#errorMessages').empty();
                        $('#errorMessages').append(errorHtml); 
                        $("#createTaskModal").modal("hide");
                      //  window.location.reload()
                });
            }
            }

          }
           
            else
            {
              $("#submitbutton").attr("disabled", true);
            $.ajax({
                    url: "/timesheets/createtask",
                    type: "post",
                    data: values ,
                  })
                .done((data)=>{
                    console.log('data '+JSON.stringify(data))
                    let resp = JSON.stringify(data);
                    console.log('dataaaaa' +resp);
                    if(data == 'Task saved Successfully')
                    {
                      document.getElementById("taskForm").reset()
                      let errorHtml = '<div class="alert alert-success alert-dismissible fade show" role="alert">'+ resp+
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
                        '<span aria-hidden="true">&times;</span>'+
                        '</button>'+
                        '</div>';
                        $('#errorMessages').empty();
                        $('#errorMessages').append(errorHtml); 
                        $("#submitbutton").attr("disabled", false);
                        window.location.reload()
                    }
                    else
                    {
                      //document.getElementById("taskForm").reset()
                      let errorHtml = '<div class="alert alert-danger alert-dismissible fade show" role="alert">'+ resp+
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
                        '<span aria-hidden="true">&times;</span>'+
                        '</button>'+
                        '</div>';
                        $('#errorMessages').empty();
                        $('#errorMessages').append(errorHtml); 
                        $("#submitbutton").attr("disabled", false);
                       // window.location.reload()
                    }
                })
                .fail((jqXHR, status, error) =>{
                    console.log('jqXHR  : '+JSON.stringify(jqXHR));
                    console.log('error  : '+error);
                    let errorHtml = '<div class="alert alert-danger alert-dismissible fade show" role="alert">'+ resp+
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
                        '<span aria-hidden="true">&times;</span>'+
                        '</button>'+
                        '</div>';
                        $('#errorMessages').empty();
                        $('#errorMessages').append(errorHtml); 
                     //   window.location.reload()
                });
            }
           
         })
        /*Timesheet Form post method */
        $('#fillActualsForm').submit(function(e){
        e.preventDefault();
        var values = $(this).serialize();
        console.log('values   '+values);
        var startDate = $('#startTime').val();
        console.log('startTime '+startDate);
        var endDate = $('#endTime').val();
            console.log('endTime '+endDate);
           if(startDate == '')
            {
              alert('Error: Please Fill Actual Start Time');
            }
          
          else if(endDate == '')
            {
              alert('Error: Please Fill Actual End Time');
            }
           else if(startDate > endDate)
            {
              alert('Error: Actual Start Time should be less than Actual End Time. !')
            }
          else
            {
              $("#submitbuttonnn").attr("disabled", true);
              $.ajax({
                      url: "/timesheets/fillactuals",
                      type: "post",
                      data: values ,
                     })
                .done((data)=>{
                    console.log('data '+JSON.stringify(data))
                    let resp = JSON.stringify(data);
                    console.log('dataaaaa' +resp);
                    if(data == 'Successfully Inserted')
                    {
                      document.getElementById("fillActualsForm").reset()
                      let errorHtml = '<div class="alert alert-success alert-dismissible fade show" role="alert">'+ resp+
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
                        '<span aria-hidden="true">&times;</span>'+
                        '</button>'+
                        '</div>';
                        $('#errorMessagesss').empty();
                        $('#errorMessagesss').append(errorHtml); 
                        $("#submitbuttonnn").attr("disabled", false);
                        window.location.reload()
                    }
                    else
                    {
                      //document.getElementById("taskForm").reset()
                      let errorHtml = '<div class="alert alert-danger alert-dismissible fade show" role="alert">'+ resp+
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
                        '<span aria-hidden="true">&times;</span>'+
                        '</button>'+
                        '</div>';
                        $('#errorMessagesss').empty();
                        $('#errorMessagesss').append(errorHtml); 
                        $("#submitbuttonnn").attr("disabled", false);
                    }
                })
                .fail((jqXHR, status, error) =>{
                     let resp = JSON.stringify(jqXHR);
                    console.log('jqXHR  : '+JSON.stringify(jqXHR));
                    console.log('error  : '+error);
                    let errorHtml = '<div class="alert alert-danger alert-dismissible fade show" role="alert">'+ resp+
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
                        '<span aria-hidden="true">&times;</span>'+
                        '</button>'+
                        '</div>';
                        $('#errorMessagesss').empty();
                        $('#errorMessagesss').append(errorHtml); 
                });
            }
   
        })
        $('#bootstrapModalFullCalendar').fullCalendar({
            header: {
                left: '',
                center: 'title',
                right: 'prev next'
            },
            eventClick:  function(event, jsEvent, view) {
                $('#modalTitle').html(event.title);
                $('#modalBody').html(event.description);
                $('#eventUrl').attr('href',event.url);
                $('#fullCalModal').modal();
                return false;
            },
            displayEventTime : false,
            allDay : true,
            firstDay: 1,
            textColor :'white',
           // nextDayThreshold: '00:00:00',
           eventClick: function(calEvent, jsEvent, view) {
                var dt = calEvent.start.format('YYYY-MM-DD');
                //alert(dt);
                var dateParts = dt.split('-');
                var selectedDate = dateParts[1]  + '/' + dateParts[2] + '/' + dateParts[0];
            //   alert(selectedDate); console.log('selectedDate   '+selectedDate);
                let seletedDate = new Date(selectedDate);
                console.log('seletedDate   '+seletedDate);
                let currentDate = new Date();
                console.log('currentDate  :  '+currentDate );
            //    let todaydate = new Date().getTime() +1296000000;
                let todaydate = new Date().getTime() +604800000;
                let tomoorow=new Date(todaydate);
                console.log('today plus 15 day= '+tomoorow);
              //  let before=new Date().getTime()-1296000000;
              let before=new Date().getTime()-604800000;
                let beforedate=new Date(before);
                console.log('15 day before today '+ beforedate);
            
                if(calEvent.title == 'Create Task')
                {
                    console.log('calEvent.start '+calEvent.start);
                    $('.datepic').val(selectedDate);
                
                    if(seletedDate.getTime() < currentDate.getTime())
                    {
                        $('#plannedstarttimeTask').prop("disabled",true);
                        $('#plannedendtimeTask').prop("disabled",true);
                        $('#deadline').prop("disabled",true);
                    }
                    else
                    {
                        $('#deadline').prop("disabled",false);
                        $('#plannedstarttimeTask').prop("disabled",true);
                        $('#plannedendtimeTask').prop("disabled",true);
                        $('#deadline').on('change',function(){
                          let deadValue=this.value;
                          console.log('deadValue' +deadValue);
                          if(deadValue=='Deadlines')
                          {
                          $('#plannedstarttimeTask').prop("disabled",true);
                          $('#plannedendtimeTask').prop("disabled",false);
                        }
                          else
                          {
                            $('#plannedstarttimeTask').prop("disabled",false);
                            $('#plannedendtimeTask').prop("disabled",false);
                          }
                        });
            
                    }
                 //   if(seletedDate.getTime()<todaydate && seletedDate.getTime()>before)
                      if(seletedDate.getTime()>before)
                    {
                      console.log('objuser name++++'+objUserName);
                      console.log('objuserId ++++'+objUserId);
                      console.log('contactList ++++'+contactList.name);
                      $("#createTaskModal").modal("show");
                   //     $('#Selectview').on('change',function(){
                     console.log('Selected view ++ '+selectedView);
                         // selectedView=this.value;
                        console.log('hii i m inside current user view');
                        $('#assignedresource').val('');

                        if(selectedView == 'currentuser')
                        {
                          $('#assignedresource').attr("readonly","readonly");
                          $('#assignedresource')
                          .append($("<option></option>")
                          .attr("value",objUserId)
                          .text(objUserName))                        
                        }

                        if(selectedView == 'teamview')
                        {
                          console.log('hii i m inside team view');
                          $('#assignedresource').attr("readonly",false);
                          $.ajax({
                        url : '/users/getContact',
                        data : {
                          
                        },
                        dataType : 'json',
                        type : 'get'
                    })
                    .done((response) => {
                        console.log('response  '+JSON.stringify(response));
                        if(response.length > 0)
                            {
                            response.forEach((eachContact) => {
                            console.log('eachContact.name '+eachContact.name);
                            $('#assignedresource')
                            .append($("<option></option>")
                            .attr("value",eachContact.sfid)
                            .text(eachContact.name))
                            }); 
                            }
                    })
                    .fail((jqXHR,text,err) => {
                        console.log('text  '+text + '  err '+err);
                        console.log('jqXHR '+JSON.stringify(jqXHR));

                    })


                        }
                      
                
                   //   })
                    }
                    else{
                      alert('The timesheet tasks are locked. You cannot create task before 7 days from today date. !');
                    }
                    
                }
                else if(calEvent.title == 'Fill Actuals')
                {
                  
                   
                
                    if(seletedDate.getTime() > currentDate.getTime())
                    {
                          alert('You cannot fill timesheet of the today date !');
                    }
                    else
                    {
                            document.getElementById("fillActualsForm").reset();
                            $('#dateIncurred').val(selectedDate);
                            
                            $("#fillActualsModal").modal("show");
                            $('#projectName').change(() => {            
                            var selectedProject = $("#projectName option:selected").val();
                          //  alert("You have selected the project : " + selectedProject );
                            let select = document.getElementById("selectedTask");
                             let length = select.options.length;
                              for (i = length-1; i > 0; i--) {
                                      select.options[i] = null;
                                      } 
                            if(selectedProject != 'None')
                            {
                                $.ajax({ 
                                type: 'GET',
                                url: '/timesheets/getrelatedtasks',
                                data : {
                                        'projectId' : selectedProject,
                                        'selectedDate' : selectedDate
                                },
                                dataType: 'json'
                                })
                                .done(function( taskData ) {
                                    console.log( "Sample of data:", JSON.stringify(taskData));
                                    if(taskData != null && taskData.length > 0)
                                    {
                                        var taskOptions = '';
                                        taskData.forEach((eachTask) => {
                                            taskOptions += '<option value="'+eachTask.sfid+'">'+eachTask.name+'</option>';
                                        })
                                        $('#selectedTask').append(taskOptions);
                                        //$('#selectedTask').html(taskOptions);
                                    }
                                        
                                })
                                .fail(function(jqXHR, textStatus, err){
                                    console.log('AJAX error response :',textStatus);
                                    
                                })
                            }
                            else
                            {
                                $("#selectedTask option[value !='None']").remove();  
                            }
                          
                        });
                    }
                }
                else if(calEvent.title == 'Details')
                {
                  var selecPro= $('#selproject').val();
                  var selecView= $('#Selectview').val();
                  console.log('selecPro : '+selecPro +' selecView: '+selecView);
                  $("#detailsModal").modal("show");
                  // start projectselected and curren user
                  if(selecPro!='allproject' && selecView =='currentuser'){
                //    alert('selected project & currentUSer');
                    //  alert('select view is : '+$('#Selectview').val());
                     $.ajax({ 
                         type: 'GET',
                         url: '/timesheets/getdetailsproject',
                         data : {
                             'date': selectedDate,
                             'selproject':$('#selproject').val()
                         },
                         dataType: 'json'
                     })
                     .done(function( taskData ) {
                         console.log( "Sample of data:", JSON.stringify(taskData));
                         console.log('sleePROJ :'+selecPro +'& selected view ='+selecView);
                         var tasktableData = ''; 
                         tasktableData  += '<thead><tr><th>Project Name</th><th>Task Name</th><th>Task Date</th><th>Status</th><th>Planned Hours</th><th>Actual Hours</th><th>Assigned to Heroku User</th></tr></thead>';    
                         taskData.forEach((eachTaskCol) => {  
                                 console.log('dt '+eachTaskCol.date);
                                 console.log('date str '+eachTaskCol.date.toString().split('T')[0]);
                                 var strDate = eachTaskCol.date.toString().split('T')[0];
                                 tasktableData += '<tr>';
                                  tasktableData  += '<td>'+eachTaskCol.projectName+'</td>';
                                 tasktableData  += '<td>'+eachTaskCol.name+'</td>';
                                 tasktableData  += '<td>'+strDate+'</td>';
                                 tasktableData  += '<td>'+eachTaskCol.status+'</td>';
                                 tasktableData  += '<td>'+eachTaskCol.plannedHours+'</td>';
                                 tasktableData  += '<td>'+eachTaskCol.actualHours+'</td>';
                                 tasktableData  += '<td>'+eachTaskCol.userName+'</td>';
                                 tasktableData += '</tr>';   
                         });
                        // $('#taskDetails').append(tasktableData);
                         $('#taskDetails').html(tasktableData);
                         $("#detailsModal").modal("show");
                     })
                     .fail(function(jqXHR, textStatus, err){
                         console.log('AJAX error response :',textStatus);
                         $("#detailsModal").modal("show");
                     })     
                   } 
                  
                //   <!-- End OF CurrenntUSER selected project -->

                // all project current user 
                if(selecPro=='allproject' && selecView =='currentuser'){
                 //   alert('selected project & currentUSer');
                    //  alert('select view is : '+$('#Selectview').val());
                     $.ajax({ 
                         type: 'GET',
                         url: '/timesheets/getdetails',
                         data : {
                             'date': selectedDate,
                             'selproject':$('#selproject').val()
                         },
                         dataType: 'json'
                     })
                     .done(function( taskData ) {
                         console.log( "Sample of data:", JSON.stringify(taskData));
                         console.log('sleePROJ :'+selecPro +'& selected view ='+selecView);
                         var tasktableData = ''; 
                         tasktableData  += '<thead><tr><th>Project Name</th><th>Task Name</th><th>Task Date</th><th>Status</th><th>Planned Hours</th><th>Actual Hours</th><th>Assigned to Heroku User</th></tr></thead>';    
                         taskData.forEach((eachTaskCol) => {  
                                 console.log('dt '+eachTaskCol.date);
                                 console.log('date str '+eachTaskCol.date.toString().split('T')[0]);
                                 var strDate = eachTaskCol.date.toString().split('T')[0];
                                 tasktableData += '<tr>';
                                  tasktableData  += '<td>'+eachTaskCol.projectName+'</td>';
                                 tasktableData  += '<td>'+eachTaskCol.name+'</td>';
                                 tasktableData  += '<td>'+strDate+'</td>';
                                 tasktableData  += '<td>'+eachTaskCol.status+'</td>';
                                 tasktableData  += '<td>'+eachTaskCol.plannedHours+'</td>';
                                 tasktableData  += '<td>'+eachTaskCol.actualHours+'</td>';
                                
                               
                                 tasktableData  += '<td>'+eachTaskCol.userName+'</td>';
                                 tasktableData += '</tr>';   
                         });
                        // $('#taskDetails').append(tasktableData);
                         $('#taskDetails').html(tasktableData);
                         $("#detailsModal").modal("show");
                     })
                     .fail(function(jqXHR, textStatus, err){
                         console.log('AJAX error response :',textStatus);
                         $("#detailsModal").modal("show");
                     })     
                   } 
                //end of current user all project

                // start of team view 
                if(selecView =='teamview'){
                  console.log('Team view detail action');
                  $("#detailsModal").modal("show");
                  $.ajax({ 
                    type: 'GET',
                    url: '/timesheets/getTeamdetails',
                    data : {
                        'date': selectedDate,
                        'selproject':$('#selproject').val()
                    },
                    dataType: 'json'
                })
                .done(function(tskdata){
                  console.log('sample task team view dataxx :'+JSON.stringify(tskdata));
                 // console.log('size of '+tskdata.length+'  ; '+tskdata[0].name);
                  if(tskdata.length==0){
                    var tasktableData='<h4>You are Not Team Manager for this Project or No task Available </h4>';
                    $('#taskDetails').html(tasktableData);
                      $("#detailsModal").modal("show");

                  }
                  else{
                  var tasktableData = '';
                      tasktableData  += '<thead>';
                      tasktableData  += '<tr>';
                      tasktableData  += ' <th>Project Name</th>';
                      tasktableData  += ' <th>Task Name</th>';
                      tasktableData  += ' <th>Task Date</th>';
                      tasktableData  += '<th>Planned Hours</th>';
                      tasktableData  += '<th>Actual Hours</th>';
                      tasktableData  += ' <th>Assigned to Heroku User</th>';
                      tasktableData  += '</tr>';
                      tasktableData  += '</thead>'; 
                      tskdata.forEach((eachTaskCol) => {
                        console.log('achdad'+eachTaskCol);
                        console.log('dt '+eachTaskCol.date);
                        console.log('date str '+eachTaskCol.date.toString().split('T')[0]);
                        var strDate = eachTaskCol.date.toString().split('T')[0];
                        tasktableData += '<tr>';
                        tasktableData  += '<td>'+eachTaskCol.projectName+'</td>';
                        tasktableData  += '<td>'+eachTaskCol.name+'</td>';
                        tasktableData  += '<td>'+strDate+'</td>';
                        tasktableData  += '<td>'+eachTaskCol.plannedHours+'</td>';
                        tasktableData  += '<td>'+eachTaskCol.actualHours+'</td>';
                        tasktableData  += '<td>'+eachTaskCol.userName+'</td>';
                        tasktableData += '</tr>';  
                  })
                  $('#taskDetails').html(tasktableData);
                      $("#detailsModal").modal("show");
                }
                })
                .fail(function(jqXHR, textStatus, err){
                  console.log('AJAX error response :',textStatus);
                  $("#detailsModal").modal("show");
              })

                }

                // end of team view
                
                  } 
            } 
        });
        var colorStyle = document.getElementsByClassName('fc-title');
        for (var i=0; i<colorStyle.length; i++) {
            colorStyle[i].style.color = 'white';
        }
    });
</script>




<!-- Create Task Modal -->
<div id="createTaskModal" class="modal fade bs-example-modal-lg" tabindex ="-1" role="dialog" aria-labelledby="myLargeModalLabel" >
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="createTaskModal">Create Task</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="">
        <div id="errorMessages"></div>
      <form  id="taskForm" class="needs-validation" novalidate >

        <div class="form-group">  
          <div class="row">
            <div class="col-md-6">
              <label for="validationTooltip01">Task Description <span style="color: red;">*</span></label>
              <input type="text" class="form-control" id="validationTooltip01" placeholder=""  name="taskname" required>
            </div>
           
            <div class="col-md-6">
              <label for="validationTooltip02">Task Type <span style="color: red;">*</span></label>
              <select class="custom-select custom-select-sm form-control" name="tasktype">
                  <option value=''>None</option>
                  <option value="Generic-Reflecting & Planning - Personal Time for official work">Generic-Reflecting & Planning - Personal Time for official work</option>
                  <option value="Generic-Miscellaneous Personal official work - IT Support, HR, Flexiele, Filling Timesheet, etc.">Generic-Miscellaneous Personal official work - IT Support, HR, Flexiele, Filling Timesheet, etc.</option>
                  <option value="Generic-Expenses - Raising Bills/Invoices - Self">Generic-Expenses - Raising Bills/Invoices - Self</option>
                  <option value="Generic-Expenses - reviewing & approving bills - Teams">Generic-Expenses - reviewing & approving bills - Teams</option>
                  <option value="Generic-Procurement - Raising request & follow-up">Generic-Procurement - Raising request & follow-up</option>
                  <option value="Generic-Procurement - reviewing & approving - Teams">Generic-Procurement - reviewing & approving - Teams</option>
                  <option value="Generic-Attended Training/Orientation - Requested by LLF">Generic-Attended Training/Orientation - Requested by LLF</option>
                  <option value="Generic-Attended Training/Orientation - Self Managed">Generic-Attended Training/Orientation - Self Managed</option>
                  <option value="Generic-Imparted Training - External - Project Delivery Purpose - RPs & Beneficiaries">Generic-Imparted Training - External - Project Delivery Purpose - RPs & Beneficiaries</option>
                  <option value="Generic-Team Meetings/Progress Review Meetings - At various levels">Generic-Team Meetings/Progress Review Meetings - At various levels</option>
                  <option value="Generic-Travel Time - For field visits/meetings/etc">Generic-Travel Time - For field visits/meetings/etc</option>
                  <option value="Generic-Field Visit - Interaction Time Spent - Schools/Donors/Govt. officials, etc">Generic-Field Visit - Interaction Time Spent - Schools/Donors/Govt. officials, etc</option>
                  <option value="Generic-Data Analysis & Gathering insights from work items for evidence-based decision making">Generic-Data Analysis & Gathering insights from work items for evidence-based decision making</option>
                  <option value="Generic-Report-Making/Presentations for various stakeholders inside/outside organization">Generic-Report-Making/Presentations for various stakeholders inside/outside organization</option>
                  <option value="Generic-Field visit Data Upload/Reporting on Salesforce/Excel sheets">Generic-Field visit Data Upload/Reporting on Salesforce/Excel sheets</option>
                  <option value="Generic-Assistance Time Spent to facilitate project team organization members">Generic-Assistance Time Spent to facilitate project team organization members</option>
                  <option value="Generic-Assistance Time Spent to facilitate non-project team organization members">Generic-Assistance Time Spent to facilitate non-project team organization members</option>
                  <option value="Generic-Assistance Time Spent to facilitate external stakeholders - Govt., Donors, Officials, etc">Generic-Assistance Time Spent to facilitate external stakeholders - Govt., Donors, Officials, etc</option>
                  <option value="Generic-Assistance Time Spent to facilitate beneficiaries outside Field visit hours - Students, Teachers, Principals, women, entrepreneurs, etc">Generic-Assistance Time Spent to facilitate beneficiaries outside Field visit hours - Students, Teachers, Principals, women, entrepreneurs, etc</option>
                  <option value="Generic-Content Creation Time Spent for a Training - Project delivery purpose">Generic-Content Creation Time Spent for a Training - Project delivery purpose</option>
                  <option value="Generic-Project Hiring related - Calling for Interviews">Generic-Project Hiring related - Calling for Interviews</option>
                  <option value="Generic-Project Hiring related - Conducted Interviews">Generic-Project Hiring related - Conducted Interviews</option>
                  <option value="Generic-Project Hiring related - Reviewed Application for interviews">Generic-Project Hiring related - Reviewed Application for interviews</option>
                  <option value="Generic-Project Hiring related - Evaluation of interviewees">Generic-Project Hiring related - Evaluation of interviewees</option>
                  <option value="Generic-Training Imparted - Internal Organization - Non Project Delivery Purpose">Generic-Training Imparted - Internal Organization - Non Project Delivery Purpose</option>
                  <option value="Generic-Content Creation Time Spent for - Internal - Non Project Delivery purpose">Generic-Content Creation Time Spent for - Internal - Non Project Delivery purpose</option>
                  <option value="Generic-Training Content Creation Time Spent - Internal - Non Project Delivery purpose">Generic-Training Content Creation Time Spent - Internal - Non Project Delivery purpose</option>
                  <option value="Content - Research">Content - Research</option>
                  <option value="Content - Content Creation">Content - Content Creation</option>
                  <option value="Content - Content Review">Content - Content Review</option>
                  <option value="Content - Editing and Proofreading">Content - Editing and Proofreading</option>
                  <option value="Content - Formatting and Design">Content - Formatting and Design</option>
                  <option value="Accounts - Voucher checking">Accounts - Voucher checking</option>
                  <option value="Accounts - Tally entry">Accounts - Tally entry</option>
                  <option value="Accounts - Report Preparation">Accounts - Report Preparation</option>
                  <option value="Accounts - Liasoning with Auditors">Accounts - Liasoning with Auditors</option>
                  <option value="Accounts - Processing Payments TDS, GST, etc">Accounts - Processing Payments TDS, GST, etc</option>
                  <option value="HR - Recruitment Process">HR - Recruitment Process</option>
                  <option value="HR - Payroll Process">HR - Payroll Process</option>
                  <option value="HR - Joining Process">HR - Joining Process</option>
                  <option value="HR - Exit Process">HR - Exit Process</option>
                  <option value="HR - Handling Employee Grievances">HR - Handling Employee Grievances</option>
                  <option value="HR - Full & Final Settlements">HR - Full & Final Settlements</option>
                  <option value="HR - Prepare and deposition of the statutory liabilities such as PF, ESI, PT & LW">HR - Prepare and deposition of the statutory liabilities such as PF, ESI, PT & LW</option>
                  <option value="HR - Prepare and submit quarterly, half yearly and annual returns">HR - Prepare and submit quarterly, half yearly and annual returns</option>
                  <option value="HR - Calculate TDS deductions based on tax laws">HR - Calculate TDS deductions based on tax laws</option>
                  <option value="HR - Attendance Management">HR - Attendance Management</option>
                  <option value="HR - Manage employees investment declarations, Payroll reimbursements, etc">HR - Manage employees investment declarations, Payroll reimbursements, etc</option>
                  <option value="Training - Research">Training - Research</option>
                  <option value="Training - Dry run">Training - Dry run</option>
                  <option value="Training - Editing and making changes to the content as per the need on ground">Training - Editing and making changes to the content as per the need on ground</option>
                  <option value="Training - Agenda preparation and session flow planning">Training - Agenda preparation and session flow planning</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group"> 
          <div class="row">
          <div class="col-md-6">
            <label for="validationTooltip03">Project <span style="color: red;">*</span></label>
            <select class="custom-select custom-select-sm form-control" name="projectname">
              <option value="" >None</option>
              <% if(projectList.length != 0) { %>
               <% projectList.forEach((eachProject) => { %>
               <option value="<%= eachProject.sfid %>" ><%= eachProject.name %></option>
               <% }) %>
              <% } %>
           </select>
          </div>
          <div class="col-md-6">
            <label for="validationTooltip04">Task Date</label>
            <input type="text" class="form-control datepic"   id="datePicker" required readonly name="taskdate">
            
          </div>
        </div>
        </div>
        
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label for="validationTooltip02">Assign to Heroku user <span style="color: red;">*</span></label>
              <select class="custom-select custom-select-sm form-control" name="assignedresource" id="assignedresource">
                <option value="">None</option>
               </select>


            </div>

            <div class="col-md-6">
                <label for="validationTooltipUsername">Status <span style="color: red;">*</span></label>
                <select class="custom-select custom-select-sm form-control" name="status" >
                     <option selected>None</option>
                     <option value="Started">Started</option>
                     <option value="On Hold">On Hold</option>
                     <option value="Completed">Completed</option>
                </select>
            </div>
          </div>  
        </div>
        
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label for="validationTooltip02">Planned Start Time</label>
              <input type="time" class="form-control" id="plannedstarttimeTask" name="plannedstarttime" required>
            </div>
            
            <div class="col-md-6">
              <label for="validationTooltip02">Planned End Time</label>
              <input type="time" class="form-control" id="plannedendtimeTask" name="plannedendtime" required>
            </div>
          </div>  
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label for="validationTooltipUsername">Deadline Type</label>
              <select class="custom-select custom-select-sm form-control" id="deadline" name="deadline" >
                <option selected>Select</option>
                <option value="Deadlines">Deadlines</option>
                <option value="Block Time">Block Time</option>
           </select>
            </div>
            
          </div>  
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="submit" id="submitbutton" class="btn btn-primary">Save</button>
        </div>

      </form>
    </div>
    </div>
  </div>
</div>
</div>



<!-- Fill Actuals  Modal -->
<div id="fillActualsModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="fillActualsModals">Fill Actuals</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="">
        <div id="errorMessagesss"></div>
      <form id="fillActualsForm" class="needs-validation" novalidate>
        <div class="form-group">  
          <div class="row">
            <div class="col-md-6">
              <label for="validationTooltip01">Project Name <span style="color: red;">*</span></label>
              <select class="custom-select custom-select-sm form-control" name="projectName" id="projectName">
                    <option selected>None</option>
                    <% if(projectList.length != 0) { %>
                        <% projectList.forEach((eachProject) => { %>
                        <option value="<%= eachProject.sfid %>" ><%= eachProject.name %></option>
                        <% }) %>
                    <% } %>
             </select>
            </div>
           
            <div class="col-md-6">
            <label for="validationTooltip04">Date Incurred</label>
            <input type="text" class="form-control datepic" class="dateIncurred" id="dateIncurred" readonly name="dateIncurred" required>
             
            </div>
          </div>
        </div>

        <div class="form-group"> 
          <div class="row">
          <div class="col-md-6">
            <label for="selectedTask">Task Description <span style="color: red;">*</span></label>
            <select class="custom-select custom-select-sm form-control" name="selectedTask" id="selectedTask" > 
                    <option value="None" selected>None</option>
           </select>
          </div>
          <div class="col-md-6">
            <label for="validationTooltipUsername">Status <span style="color: red;">*</span></label>
             <select class="custom-select custom-select-sm form-control" name="statusTimesheet">
                  <option selected>None</option>
                  <option value="Started">Started</option>
                  <option value="On Hold">On Hold</option>
                  <option value="Completed">Completed</option>
             </select>
            
          </div>
        </div>
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label for="validationTooltip02">Actual Start Time <span style="color: red;">*</span></label>
              <input type="time" class="form-control" id="startTime" placeholder="Last name" value="Otto" name="plannedStartTimeTimesheet" required>
            </div>
            
            <div class="col-md-6">
              <label for="validationTooltip02">Actual End Time <span style="color: red;">*</span></label>
              <input type="time" class="form-control" id="endTime" placeholder="Last name" value="Otto" name="plannedEndTimeTimesheet" required>
            </div>
          </div>  
        </div>
        
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
                  <label for="validationTooltip02">Description <span style="color: red;">*</span></label>
                  <textarea class="form-control" id="descriptionTimesheet" rows="3" autocomplete="off" name="descriptionTimesheet"></textarea>
            </div>

            <div class="col-md-6">
                <label >Representative</label>
                <select class="custom-select custom-select-sm form-control" name="representative">
                  <option value="<%= objUser.sfid %>" ><%= objUser.name %></option>
                  <!--   <% if(contactList.length != 0) { %>
                     <% contactList.forEach((eachContact) => { %>
                     <option value="<%= eachContact.sfid %>" ><%= eachContact.name %></option>
                     <% }) %>
                    <% } %> -->
                 </select>
            </div>

           
          </div>  
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="submitbuttonnn">Save</button>
        </div>

      </form>
      </div>
    </div>
    
  </div>
</div>
</div>



<!-- Details  Modal -->
<div id="detailsModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
   <center><h5 class="modal-title" id="detailsModal">Project Tasks Detail</h5></center> 
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="overflow-y: auto;">
      <table id="taskDetails" class="table table-hover striped table-responsive" >
        
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>

</body>
</html>
